/config.h.in
/configure

Makefile.in
.deps
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/ylwrap
/stamp-h1
/INSTALL
/config.guess
/config.sub

/autom4te.cache/
/config.log
/config.status
/config.h
Makefile

*.o

scanner.c
parser.c
parser.h
xshogi
